<nav class="custom-navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <%= link_to "Weekend Warrior", root_path %>
    </div>
    
    <div class="navbar-links">
      <%= link_to "EVENTS", events_path %>
      <%= link_to "ORGANIZATIONS", organizations_path %>
      
      <% if user_signed_in? %>
        <%= link_to "NEW ORGANIZATION", new_organization_path %>
        <% if current_user.organizations.any? %>
          <%= link_to "NEW EVENT", new_event_path %>
        <% end %>
        <%= button_to "SIGN OUT", destroy_user_session_path, method: :delete, class: "navbar-button", form: { data: { turbo: false } } %>
      <% else %>
        <%= link_to "SIGN IN", new_user_session_path %>
        <%= link_to "SIGN UP", new_user_registration_path %>
      <% end %>
    </div>
  </div>
</nav>
