<%= form_with(model: organization) do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control bg-dark text-light" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, rows: 4, class: "form-control bg-dark text-light" %>
  </div>

  <div class="mb-3">
    <%= form.label :logo, "Logo URL", class: "form-label" %>
    <%= form.text_field :logo, class: "form-control bg-dark text-light" %>
  </div>

  <%= form.submit class: "btn btn-danger" %>
<% end %>
